.container
  %h1 Welcome(, name?)

  .panel.panel-default
    .panel-heading
      %h3.panel-title Classes
    .list_group
      - @class_groups.each do |class_group|
        =link_to teacher_class_group_path(current_teacher, class_group) do
          .list-group-item
            %ul.list-inline
              .row
                %li.col-xs-4.col-sm-4.col-md-4.col-lg-4
                  #{class_group.name}
                %lili.col-xs-4.col-sm-4.col-md-4.col-lg-4
                  #{class_group.students.count} Students
                %li.col-xs-4.col-sm-4.col-md-4.col-lg-4
                  #{class_group.daily_summaries.count} Reports
