.container
  %h1 Class: #{@class_group.name.capitalize}

  .row
    .col-xs-8.col-sm-8.col-md-8.col-lg-8
      .panel.panel-default
        .panel-heading
          %h3.panel-title Students
        .list-group
          - @students.each do |student|
            .list-group-item
              %ul.list-inline
                .row
                  %li.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    #{student.full_name}
                  %li.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    #{student.parent_email}
    .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center
      =link_to new_class_group_daily_summary_path(@class_group), class: "btn btn-warning" do
        Create Daily Report
